@for(person of persons; track person.id; let i=$index) {
<div class="story-container" [class.active]="i === currentPersonIndex" (swipeleft)="nextPersonStory()" (swiperight)="prevPersonStory()">
  {{i}}
  @for(story of person.stories; track story.id; let z = $index ) {
    <div [class.active]="z === currentStoryIndex" class="story-content">
      <!-- @if(story.type === 'image') { -->
        <img [src]="story.content" >
      <!-- } -->
    </div>
  }
  
  <div class="progress-bar-container">
    @for(story of person.stories; track story.id; let x = $index ) {
      <div  class="progress-bar" [style.width]="progressWidth + '%'"></div>
    }
  </div>
  <button class="prev" (click)="prevStory()">Previous</button>
  <button class="next" style="right: 1%;" (click)="nextStory()">Next</button>
</div>
}