.story-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;

  opacity: 0;
  transition: opacity 0.5s ease-in-out;


}

.story-container.active {
    opacity: 1 !important;
    position: relative;
}

.story-content {
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.story-content.active {
  opacity: 1;
  position: relative;
}

.progress-bar-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.progress-bar {
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

button:focus {
  outline: none;
}

button:hover {
  color: lightgrey;
}

button:nth-child(2) {
  right: 10px;
}

button:nth-child(1) {
  left: 10px;
}
