@for(person of persons; track person.id; let i=$index) {
<div class="story-container" #storyContainer [class.active]="i === currentPersonIndex"
[class.swipe-left]="isSwipingLeft" 
[class.swipe-right]="isSwipingRight"
>
  @for(story of person.stories; track story.id; let z = $index ) {
    <div [class.active]="z === currentStoryIndex" class="story-content">
      <h5>
        {{person.name}}
      </h5>
        <img [src]="story.content" >
    </div>
  }
  
  <div class="progress-bar-container">
    @for(story of person.stories; track story.id; let x = $index ) {
      <progress  class="progress-bar "
      [value]="getProgressValue(x)" 
                max="100" [class.active]="x===currentStoryIndex"></progress>
    }
  </div>
  @if(!(currentPersonIndex === 0 && currentStoryIndex === 0) ) {
    <button class="prev" (click)="prevStory()">Previous</button>
  }
<button class="next" style="right: 1%;" (click)="nextStory()">Next</button>
</div>
}
