<div class="custom-container">
    <h3>Custom Component</h3>
    <p>This is a beautifully styled custom component, designed to showcase how dynamic rendering can be visually appealing.</p>
    
    <p>Possibilities are endless. For example, here's a simple code snippet:</p>
    <pre class="code-block">console.log('Dynamic rendering!');</pre>
    
    <img src="https://images.unsplash.com/photo-1568667185695-edcbcd4938cb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    width="500" height="300" alt="Example image" class="custom-image" />
    
    <p>And there's more! You can extend this component further to fit your use case.</p>
    
  </div>
  